<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <!-- <listeners>
        <listener class-name="tatiana_dworieckaja.deltixuat.utils.TestResultListener"/>
        <listener class-name="tatiana_dworieckaja.deltixuat.utils.RetryAnalyzer"/>
    </listeners> -->
    <test name="DeltixAllTests" >
        <groups>
            <run>
                <include name="Ready"/>
            <!--    <exclude name="NotFinished"/> -->
            </run>
        </groups>
        <classes>
            <class name="tatiana_dworieckaja.deltixuat.tests.TC1_LoginAndCheckMainComponentsTest"></class>
        </classes>
    </test>
</suite>
